<h3>Listing items</h3>
	
<table  id="customers">
  <tr>
    <th></th> 
  	<th>Id</th>
    <th>ItemSN</th>
    <th>Place</th>
    <th>Wagon</th>
    <th>Weight</th>
    <th>Length</th>
    <th>MatWidth</th>
    
    <th>Note</th>
  </tr>
  <% ####   i = row counter %> 
  <%i=0%>
  <% form_tag :controller => 'talks', :action => 'select_many' do %> 
  <% @transport.items.each do |item| %>
 				<% if  @highlight == "alt" then @highlight = '' else  @highlight = 'alt' end  %>
 				
 				<tr class = '<%= @highlight%>'>
 				<%i=i+1%>
				<td><%= check_box_tag 'item['+i.to_s+']', item  %>	</td>
 				<td><%= link_to item.id, item  %></td>
				<td><%=h item.itemid %></td>
				<td><%= link_to item.place.name, :controller => "items", :place_id => item.place_id  if item.place_id %></td>
				<td><%=h item.wagons.find_by_transport_id(@transport).vrn %></td> 
				<td><%=h item.weight	 %>  </td>
				<td><%=h item.length	 %>  </td>
				<td><%=h item.width	 %>  </td>
	  		<td><%=h "note" if item.note and item.note != "" %></td>
				
						
			</tr>
			
			<% end %>
			<tr><td colspan=9 ><input type="checkbox" name="checkall" onclick="checkUncheckAll(this);"/>Vše --  a s označenýmy kontakty proveď jednu z následujících operací
				</td>
			</tr>	
			<% end %>

</table>
	
<br />
