<h3>Transport info</h3>
<div class="showRecord">
			
			<p>
				<b>Id:</b>
				<%=h @transport.id %>|
		
				<b>Senderrequest:</b>
				<%=h @transport.senderRequest %>
				<b>Vrn:</b>
				<%=h @transport.vrn %>
			</p>
			<HR/>
			<p>
				<b>Loadplace:</b>
				<%= link_to @transport.loadPlace.name,  @transport.loadPlace  if @transport.loadPlace %>
			
				<b>Unloadplace:</b>
				<%= link_to @transport.unLoadPlace.name,  @transport.unLoadPlace  if @transport.unLoadPlace %>
			</p>
			<HR/>
			<p>
				<b>Plan loadtime:</b>
				<%=h @transport.loadTime.localtime.strftime("%d-%m-%y| ") %> <b>Effective:</b>
				<%=@transport.effectiveLoadTime.localtime.strftime("%d-%m-%y|%H.%M") if @transport.effectiveLoadTime %>
			
				<b>Plan unloadtime:</b>
				<%=h @transport.UnLoadTime.localtime.strftime("%d-%m-%y| ") %><b>Effective:</b>
				<%=@transport.efectiveUnLoadTime.localtime.strftime("%d-%m-%y|%H.%M") if @transport.efectiveUnLoadTime%>
			</p>
		
			<p>
				<b>Note:</b>
				<%=h @transport.note %>
			</p>
				<HR/>
		
	
</div>


<div class="showRecord">		
		<% if not  @transport.items.empty? then%> 
			<%= render :partial => 'items' %>
		<% else %>
				<br/> <br/>
				<b>This Transport does not involve any Item </b>
		<% end %>
</div>	
