<h1>Item info</h1>
<div class="showRecord">
		<p>
			<b>Id:</b>
			<%=h @item.id %>
		</p>
		
		<p>
			<b>Item Serial Number:</b>
			<%=h @item.itemid %>
		</p>
		<p>
			<b>Place:</b>
			
			 <%= link_to @item.place.name,  @item.place if @item.place%><b> since:</b>
				<%=h @item.placeSince%>
		</p>
		
		
		<p>
			<b>Diameter[mm]:</b>
			<%=h @item.diameter %>
		</p>
		
		<p>
			<b>Width[mm]:</b>
			<%=h @item.width %>
		</p>
		
		<p>
			<b>Weight[kg]:</b>
			<%=h @item.weight %>
		</p>
		<p>
				<b>Length[m]:</b>
				 <%=h @item.length %>
			</p>
		<p>
			<b>Note:</b>
			<%=h @item.note %>
		</p>
</div>		
		
		<%= link_to 'Edit', edit_item_path(@item) %> |
		<%= link_to 'List', items_path %>
		
<div class="showRecord">			
		<% if not  @item.transports.empty? then%> 
			<%= render :partial => 'transports' %> 
		<% else %>
				<br/> <br/>
				<b>This item is not conected to any transport </b>
		<% end %>
</div>			